@page "/"

<PageTitle>Home</PageTitle>

<h2>Resources:</h2>
<ul>
    <li><a href="https://docs.github.com/en/pages/getting-started-with-github-pages/about-github-pages" target="_blank">About GitHub Pages</a></li>
    <li><a href="https://github.com/JanterSchure/Blazor-Meets-GithubPages" target="_blank">Blazor Meets GitHub Pages</a></li>
    <li><a href="https://github.com/JamesIves/github-pages-deploy-action" target="_blank">GitHub Pages Deploy Action</a></li>
    <li><a href="https://swimburger.net/blog/dotnet/how-to-deploy-aspnet-blazor-webassembly-to-github-pages" target="_blank">Deploy ASP.NET Blazor WebAssembly to GitHub Pages</a></li>
</ul>

